.musicplayer{
    height: 14%;
    background: black;
    z-index: 10;
    border-radius: 8px;
    margin-bottom: .1%;
    margin-left: .5%;
    margin-right: .5%;
    width: 99%;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}
.musicdetailssec{
    display: flex;
    flex-direction:row ;
    margin-left: .5%;
    align-items: center;
    width: 25%;
    /* background-color: aliceblue; */
}
.currentimgcover{
    height: 64px;
    width: 64px;
}
.currentimgcover img{
    border-radius: 4px;
    width: 100%;
    height: 100%;
}
.currentsongdetial{
    margin-left: 8%;
}
.songtitle{
    cursor: pointer;
    font-size: 18px;
    color: white;
}
.songartistname{
    color:rgb(150, 150, 150);
    font-size: 16px;
}
.songoperations{
    /* background-color: aliceblue; */
    padding-top:.5%;
    width: 100%;
    display: flex;
}
.musicplayercontainer{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
    width: 70%;
}
.controls{
    display: flex;
    width: 20%;
    justify-content: space-around;
    flex-direction: row;
    height: 30px;
    align-items: center;
    margin-top: .5%;
}
.playpause{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playpause img{
    /* position: relative; */

    height: 80%;
    width: 80%;
}
#playicon{
    margin-left:8px;
    height: 70%;
    width:60%;
}
#pauseicon{
    height: 70%;
    margin-left: 3px;
}
.changetrack{
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-bottom:5px;
}
.changetrack img{
    width: 100%;
    height: 100%;
}
#darkloading{
    margin-left: 3px;
    animation: rotate 4.6s linear forwards infinite;
}
.navigation{
   /* background-color: antiquewhite; */
    margin-top: .1%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.navigation_back{
    cursor: pointer;
    border-radius: 8px;
    width: 88%;
    height: 4px;
    background-color: grey;
}
.seek_bar{
    width: 0%;
    background-color: white;
    border-radius: 8px;
    height: 4px;
    transition: .2s;
}
.currenttime{
    font-size: 12px;
    margin-right:1.4% ;
    color:white;
}
.endtime{
    font-size: 12px;
    margin-left: 1.4%;
    color: white;
}
.volumecontroler input[type="range"]{
    height: 4px;
    border-radius: 50px;
    margin-top: 22%;
    accent-color: rgb(32 209 32);
    background-color: rgb(49, 49, 49);
}
.volumecontroler{
    display: flex;
    justify-content: center;
}
.sondicon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
    height: 25%;
    width: 25%;
}
.sondicon img{
    height: 100%;
    width: 100%;
}
#musicplayerloading{
    height: 100%;
    width: 100%;
    animation: rotate 4.6s linear forwards infinite;
}
@media screen and (max-width:800px) {
    .musicplayercontainer{
        margin-right: 0px;
        margin-left: 0px;
        width:65%
    }
    .volumecontroler input[type="range"] {
        height: 5px;
        width: 95px;
        margin-top: 44%;
    }
    .sondicon {
        margin-top: 37%;
    }
    .songtitle {
        font-size: 15px;
    }
    .musicdetailssec{
        width: 38%;
    }
    .controls{
        width: 28%;
    }
}
@media screen and (max-width:500px) {
    .volumecontroler{
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content:right;
        width: 20px;
        /* background-color: aliceblue; */
        position: absolute;
        right: 2.8rem;
        top: 3rem;
    }
    .sondicon {
        display: none;
    }
    .volumecontroler input[type="range"] {
        display: none;
        /* margin: 0px;
        rotate: -90deg;
        height: 5px;
        width: 62px; */
    }
    .musicplayercontainer {
        width: 98%;
    }
    .songartistname {
      
        display: none;
    }
    .currentimgcover {
        
    height: 65px;
    width: 74px;
    margin-left: 1rem;

    }
    .songtitle {
        font-size: 13px;
    }
    .controls {
        width: 35%;
        margin-right: 0rem; 
    }
    .playpause{
        width: 29px;
        margin-left: .2rem;
        margin-right: .2rem;
    }
}